@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome Back! Shall we make money rain?</h1>
        <p class="lead">SuSLEAK: Samsung and Apple stock market is driving people nut</p>
        <p><a href="https://www.asktraders.com/learn-to-trade/stock-trading/apple-vs-samsung/" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Note from Security Team</h2>
            <p>
                Listen up, agent. I've got some intel on the horizon that you need to be aware of. We've received word that Samsung and Apple are gearing up to release some new products, and we don't know what they are yet. That's right, they're keeping it under wraps, but we suspect that these products could be a game-changer.

                <br />Now, I don't know about you, but when these big companies start getting all hush-hush about their products, it usually means they're onto something big. And that's where you come in. We need you to keep your ear to the ground, keep your eyes peeled, and be ready for anything.

                <br />I'm not saying that these products are going to be harmful or dangerous, but we can't take any chances. We need to be prepared for anything that might come our way. So stay alert, stay focused, and keep your eyes open for any unusual activity. If you see something that doesn't look right, report it immediately. We can't afford to take any chances.

                <br />Remember, agent, we're in this together. We need to stay one step ahead of the game if we want to come out on top. So keep your wits about you, and stay ready for whatever Samsung and Apple might throw our way.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.youtube.com/watch?v=HEmx23LwFhI">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Note from Product Management</h2>
            <p>
                Hey agent, listen up! We got some left-over phones in the storage that need to be sold. I want you to get on it and make sure they're all gone by the end of the week. We can't afford to have any of this stuff lying around for too long.

                <br />Now, I don't want you to cut any corners or do anything shady. We need to make sure these phones are sold legally and ethically. So, make sure you follow all the regulations and laws related to selling these devices.

                <br />Once we've sold all the phones, we can move on to bigger and better things. But for now, this is our top priority. So, get on it, agent. And remember, do it right, do it legal, and do it fast!
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.youtube.com/watch?v=TrZrws9RpKY">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Note from Staff Leader</h2>
            <p>
                Agents, I want to take a moment to acknowledge the hard work and dedication that each of you brings to this organization. Your efforts have helped us build a reputation for excellence and reliability. We pride ourselves on being a company that our customers can trust.

                <br />But as we move forward, we must remember that there is always room for improvement. We cannot afford to rest on our laurels or become complacent. We must continue to innovate, adapt, and evolve to meet the ever-changing demands of our customers and the market.

                <br />I encourage each of you to stay focused, remain committed, and maintain the high standards that we have set for ourselves. And remember, we are only as strong as our weakest link. So, let us work together, support one another, and strive for excellence in everything that we do.

                <br />Thank you for your continued dedication to this organization. Together, we will continue to achieve great things.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.youtube.com/watch?v=YWvKdZemAQs">Learn more &raquo;</a></p>
        </section>
    </div>
</main>