
@{
    ViewBag.Title = "ItemCheck";
}

<h2>Agent can Edit by Add or Delete Products</h2>

<div>
    <div class="row">
        <p>
            @Html.ActionLink("Item List", "Index", "Goods")
        </p>
        <p>
            @Html.ActionLink("Item Received", "Index", "GoodsReceiveds")
        </p>
    </div>
</div>

